*{
    margin: 0px;
    padding: 0px;
   font-size: 20px;
   scroll-behavior: smooth;
}
.fake{
    width: 100%;
    height:80px;
    background-color: black;
}
body{
    width: 100%;
    height: auto;
    background-color: black;
    
}
.r1{
    width: 100%;
    height:80px;
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 0px;left: 0px;right: 0px;
    background: transparent;
    
}
.icons{
    display: flex;
    justify-items: center;
    gap: 35px;
    margin-top: 20px;
    
   
    
}
.icons i{  width: 50px;
    height: 44px;
    font-size:40px;
    background-color:cyan;
    color: blue;
    border-radius:50%;
    text-align: center;
    padding-top: 6px;
    color: black;
}
 #L i:hover{
    color:blue;
}
#I i:hover{
    color:red;
}
#T i:hover{
    color:white;
}

.CV button{
    width: 130px;
    height: 40px;
    display: flex;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    padding-left:5px;
    padding-top: 10px;
    box-shadow: 0px 0px 30px 2px cyan;
    background-color: #ccc;
    
 
  
}
.CV button:hover{
    color: orangered;
}
.c1{
    width: 40%;
    height: 60px;
    display: flex;
    padding-left: 80px;
    color: white;
    padding-top:20px;
    
}
 .c2{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
nav{
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style: none;
   
}
 b a:hover{
    color: cyan;
    cursor: pointer;
    
   
}
nav a:hover{
    
    cursor: pointer;
    border-bottom: 4px solid cyan;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
a{
    text-decoration: none;
    color: orangered;
}
.r2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    
}
.r2c1{
    width: 70%;
    height: 500px;
    background-color: #000000;
    color: white;

}
.r2c1 .set{
    margin:150px 300px;
    
} 

.r2c2{
    width: 30%;
    height:calc(30%-600px) ;
    background-color: yellow;
    background-color:black;
    

    
}
.circle{
    width: 300px;
    height:300px;
    /* margin: 70px; */
   /* margin-top: 70px; */
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0px 0px 100px 10px cyan;
   position: relative;
   right: 110px;
   top: 100px;
  

}
.r2c2 .circle img{
    width:  300px;
    height: 300px;
    border: none;
    outline: none;
    object-fit: contain;
    background-color: #fff;
   }



   .about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: black;
   }
   .aboutc1{
   width: 40%;
   height:500px;
   }
 .aboutc1 .cir{
    width: 300px;
    height:300px;
    border-radius: 50%;
    overflow: hidden;
   box-shadow: 0px 0px 100px 10px cyan;
   position: relative;
   top: 150px;
   left: 120px;
  

}
.aboutc1 .cir img{
    width: 300px;
    height: 300px;
     border: none;
     outline: none;
     object-fit: contain;
    background-color: #fff;
   }
   .aboutc2{
    width: 60%;
    height:500px;
    background-color:black;
    padding: 50px 50px;
    

   }


   .Service{
    width: 100%;
    height: 410px;
    
}

.ser{
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ser .sc1{
    width: 30%;
    height:300px;
    background-color:#0C1319;
    border-radius: 10px;
    overflow: hidden;
   
}

.sc1:hover{
    box-shadow: 0px 0px 20px 5px cyan;
   transition: 0.5ms;
   
}


.r3{
    width: 100%;
    height: 400px;
}
.S1{
    width: 100%;
    height: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.r3c1{
    width: 30%;
    height: 300px;
    background-color:black;
    border-radius: 10px;
    gap: 20px;
    overflow: hidden;

}
.r3c1:hover{
    box-shadow: 0px 0px 20px 5px cyan;
}
.r3c1 img:hover{
    transform: scale(1.1);
    transition: 0.5ms;
   
}
 .sc1 img:hover{
    transform: scale(1.1);
    transition: 0.5ms;
   
}

.r4{
    width: 100%;
    height: 300px;
}
.row .rc1{
    width: 50%;
    height: 300px;
    background-color:gray;
    text-align: center;
}
.row .rc2{
    width: 50%;
    height: 300px;
    background-color:red;
    text-align: center;
}

.contact-container {
    background: #ccc;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px 500px ;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
}
td {
    padding: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: cyan;
}
.Josh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}



