
h2{
    color:purple ;
    text-shadow: 0px 0px 10px purple;
    font-weight: bolder;
    font-family: cursive;
    font-size: 25px;
}
button{
    width:150px;
    height: 40px;
    position:relative;
    left: 250px;
    border: 1px solid cyan;
    border-radius: 30px;
    margin: 5px;
    background-color: orangered;
}
button:hover{
    box-shadow: 0px 0px 10px 2px cyan;
}